@tailwind base;
@tailwind utilities;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

@import "styles/variables";
@import "styles/animations";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #061a40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #020916;
}

.container {
  padding: 16px;
}

@import "styles/forms";
@import "styles/buttons";

.bg-primary {
  background-color: blue;
}

.position-relative {
  position: relative;
}

@import "styles/responsive";
@import "styles/fonts";
