@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

@import 'styles/variables';
@import 'styles/animations';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  background-color: $primary-color;
  color: $primaryTextColor;
}

.container {
  padding: 16px;
}

@import 'styles/forms';
@import 'styles/buttons';

.bg-primary {
  background-color: blue;
}

.position-relative {
  position: relative;
}

@import 'styles/responsive';
@import 'styles/fonts';