@import '@styles/variables';

$navPrimaryColor: #01d;
$navAccentColor: #eeedfc;

.navigation {
  padding: 20px;
  background-color: $navPrimaryColor;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  color: #fff;

  .logo {
    font-size: 2em;
    border: 1px solid #fff;
    padding: 40px 0;
    // margin: 10px 0;
  }

  .navLinks {
    list-style: none;

    li i,
    li svg {
      font-size: 2.1em;
      margin-right: 20px;
    }

    li {
      display: flex;
      align-items: center;
      transition: background-color 0.3s ease-out;

      padding: 16px 12px;
      margin: 20px 0;
      border-radius: 16px;

      a {
        color: #fff;
        font-size: 1.2em;
        font-weight: 400;
      }

      &:hover {
        background-color: $primary-color;

        * {
          color: $secondaryAccentColor;
        }
      }

    }

  }
}