.userList {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 10px;
  }
}

.roleTag {
  padding: 2px 6px;
  font-size: 0.9em;
  border-radius: 4px;

  &.admin {
    background-color: blue;
    color: #fff;
  }

  &.user {
    background-color: green;
    color: #fff;
  }
}